<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463085136134-oevnusome920bt5drq8u1unerttufq38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463085136134-oevnusome920bt5drq8u1unerttufq38</string>
	<key>API_KEY</key>
	<string>AIzaSyC4eDDiwPzw4HkSIIFofLUOpDu1mB5bJLA</string>
	<key>GCM_SENDER_ID</key>
	<string>463085136134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dianoose.stage</string>
	<key>PROJECT_ID</key>
	<string>dianoose</string>
	<key>STORAGE_BUCKET</key>
	<string>dianoose.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463085136134:ios:50db0d9ded46e209fb5687</string>
</dict>
</plist>